nav {
  padding: 1.5rem 5% 0.5rem 5%; 
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
@media screen and (min-width: 768px) {
  nav {
    padding: 2.5rem 2% 1.5rem 2%; 
  }
  .filter-section {
    padding: 0 5%;
  }
  .title {
    font-size: 1.5rem;
  }
  .dark-mode-text{
    font-size: 1.25rem;
  }
}
.title {
  font-weight: 800;
  font-size: 1.25rem;
}
.dark-mode-text {
  font-size: 1rem;
}

.dark-mode-button:hover {
  color:darkgoldenrod;
  font-weight: 800;
  transition: all 0.5s;
}
/* Filter-section */
.filter-section {
  margin-top: 3rem;
  padding: 0 5%;
}
/* Search */
.search-div input {
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
@media screen and (min-width: 768px) {
  .search-div input {
    width: 350px ;
  }
}
/* Filter */
.filter-div select{
  margin-top:2rem;
  width: 250px;
  background-color: white;
  padding: 0.8rem 1rem;
  border:none;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.2rem;
}
@media screen and (min-width: 768px) {
  .filter-div select{
    margin-top: 0;
  }
}
/* Loading Page */
.loading-text {
  font-size: 2rem;
  margin-top:3rem;
}